:root {
  --c1: #ffffff;
  --c2: #ffb0a3;
  --c3: #00b9be;
  --c5: #555867;
  --c6: #000000;
  --soft-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  --icon-bg: #007bff;
  --click-scale: 0.9;
  --click-bg: #0056b3;
}

* {
  font-family: kanit;
  font-weight: normal;
  color: var(--c6);
  background-color: var(--c5);
  font-size: 40px;
  font-smooth: never;
  text-overflow: ellipsis;
  padding: 0px;
  margin: 0px;
}

.questionItem {
  width: 90%;
  height: 80px;
  background-color: #555867;
  margin-bottom: 20px;
}

body {
  overflow: hidden;
}


div {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

textarea {
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: none;
  width: 100%;
  height: 100%;
}



@font-face {
  font-family: kanit;
  src: url("../fonts/Kanit-ExtraBold.ttf");
}
@font-face {
  font-family: inter;
  src: url("../fonts/Inter_18pt-Regular.ttf");
}
/* https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(85, 88, 103, 0.5);
  overflow: hidden;
}

.modal-content {
  background-color: #ffffff;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 400px;
  width: 550px;
  border-radius: 20px;
  text-align: center;
}

.modal-content > h1 {
  background-color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.modal-content > form,
.modal-content > p,
.modal-content > img {
  background-color: white;
}

.modal-content > img {
  width: 300px;
  height: 300px;
}

.modal-content > p {
  margin-top: 25px;
}

.modal-content > form > input {
  margin-top: 25px;
  background-color: white;
  text-align: center;
  border: black 3px solid;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  width: 90%;
}

.modal-content > form > input[type=submit] {
  background-color: #00b9be;
  width: 200px;
  height: 70px;
  display: inline-block;
  margin: 15px 25px;
  border-radius: 5px;
  font-size: smaller;
  font-weight: normal;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 70px;
}

.modal-content > form > input[type=submit] {
  cursor: grab;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-5px);
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  z-index: 90;
}
#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 1.5em;
}
#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}
#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #282828;
  transform: translate(5px, 5px);
}
#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
#time .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}
#time .dots::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}
#time * {
  z-index: 99;
  background-color: transparent;
}
@media (max-width: 900px) {
  #time * {
    display: none;
  }
}
@media (max-width: 900px) {
  #time {
    display: none;
  }
}

#searchBar {
  background-color: var(--c1);
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-bottom: 10px;
  height: 30px;
  font-family: inter;
  font-size: 22px;
  text-align: left;
  width: 80%;
  box-shadow: var(--soft-shadow);
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  border-color: transparent;
}

#topContainer {
  background-color: var(--c3);
  border: 1px solid var(--c6);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  box-shadow: var(--soft-shadow);
}

#logo {
  margin: 0px 0px 0px 10px;
}

#iconsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.icon {
  height: 50px;
  width: 50px;
  background-color: var(--icon-bg);
  border: 0;
  background-size: 30px;
  background-position: center;
  border-radius: 100%;
  margin: 10px 10px;
  box-shadow: var(--soft-shadow);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.icon:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.icon:active {
  transform: scale(var(--click-scale));
  box-shadow: var(--soft-shadow);
}

.icon.end {
  margin-top: auto;
}

.icon.right {
  margin-left: auto;
}

#mainDisplay {
  display: flex;
  height: 100%;
}

#sideIconContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--c3);
  border: 1px solid var(--c6);
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: calc(100vh - 70px);
  border-top: none;
}

#bottomIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c3);
  border: 1px solid var(--c6);
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: var(--soft-shadow);
}

#masterQuizContainer {
  height: calc(100vh - 71px);
  margin: 0 auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
#masterQuizContainer ::-webkit-scrollbar {
  width: 12px;
}
#masterQuizContainer ::-webkit-scrollbar-track {
  background: var(--c5);
  border-radius: 10px;
}
#masterQuizContainer ::-webkit-scrollbar-thumb {
  background-color: var(--c3);
  border-radius: 10px;
  border: 3px solid var(--c5);
}
#masterQuizContainer ::-webkit-scrollbar-thumb {
  background-color: var(--c3);
  border-radius: 10px;
  height: 60px;
  border: 3px solid var(--c5);
}

.masterCreateContainer {
  height: calc(100vh - 71px);
  margin: 80px;
  width: 90%;
  height: 75vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 5px;
}

.masterCreateContainer > form {
  background-color: #ffffff;
}



.finishButton {
  flex: 1;
  border: none;
  background-color: #D9D9D9;
  margin-top: 2%;
  margin-left: 90%;
  
}

.subcontainer {
  background-color: var(--c3);
  box-shadow: var(--soft-shadow);
  border-radius: 30px;
  padding-left: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-height: 280px;
}
@media (max-width: 900px) {
  .subcontainer {
    padding-left: 15px;
    padding-bottom: 30px;
    height: auto;
    max-height: none;
    width: 480px;
  }
}
@media (max-width: 600px) {
  .subcontainer {
    padding-left: 15px;
    padding-bottom: 30px;
    height: auto;
    max-height: none;
    width: 240px;
  }
}

.subcontainer-quiz {
  background-color: #ffffff;
  box-shadow: var(--soft-shadow);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  width: 80%;
  box-sizing: border-box;
  font-size: 20px;
  position: relative;
  top: 30px;
  margin: 0 auto;
}
.subcontainer-quiz > div {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
@media (max-width: 600px) {
  .subcontainer-quiz {
    padding: 10px;
    margin: 0 auto;
  }
}


.quizTile {
  background-color: #ffffff;
  box-shadow: var(--soft-shadow);
  border-radius: 20px;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.quizTile:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.quizTile:active {
  transform: scale(var(--click-scale));
  box-shadow: var(--soft-shadow);
}

.answerTile {
  background-color: #ffffff;
  box-shadow: var(--soft-shadow);
  border-radius: 20px;
  width: 500px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  bottom: -20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 600px) {
  .answerTile {
    padding-left: 15px;
    padding-bottom: 30px;
    height: 200px;
    width: 200px;
  }
}
.answerTile:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.answerTile:active {
  transform: scale(var(--click-scale));
  box-shadow: var(--soft-shadow);
}

.main-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.quizTileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  padding: 10px;
  width: auto;
}
@media (max-width: 600px) {
  .quizTileContainer {
    margin-top: -100px;
  }
}

.answerRow:first-child {
  height: 30%;
  margin-top: 150px;
}

.answerRow {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.homeTitleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.answerButton {
  background-color: #ffffff;
  box-shadow: var(--soft-shadow);
  border-radius: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.answerButton:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.answerButton:active {
  transform: scale(var(--click-scale));
  box-shadow: var(--soft-shadow);
}

.answerText-0 {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
} 

.modal-content-createquiz {
  background-color: #ffffff;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 400px;
  width: 550px;
  border-radius: 20px;
  text-align: center;
}

.modal-content-createquiz > h1 {
  background-color: #ffffff;
  font-size: 50px;
  text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.modal-conten-createquizt > form,
.modal-content-createquiz > p,
.modal-content-createquiz > img {
  background-color: white;
}

.modal-content-createquiz > img {
  width: 300px;
  height: 300px;
}



.modal-content-createquiz > form > input {
  background-color: white;
  text-align: center;
  border: black 3px solid;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  width: 90%;
}

.modal-content-createquiz > form > input[type=submit] {
  background-color: #00b9be;
  width: 200px;
  height: 70px;
  display: inline-block;
  border-radius: 5px;
  font-size: smaller;
  font-weight: normal;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  line-height: 70px;
}

.modal-content-createquiz > form > input[type=submit] {
  cursor: grab;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-5px);
}

.quizHeader-create {
  height: 200px;
}