@use 'initial';
@use 'fonts';
@use 'mixins';
@use 'time';
@use 'modal';
@use 'account';

$media-mobile: 600px;
$media-mobile-2: $media-mobile * 1.5;
$debug: false;

#searchBar
{
    background-color: var(--c1);
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-bottom: 10px;
    height: 30px;
    font-family: inter;
    font-size: 22px;
    text-align: left;
    width: 80%;
    box-shadow: var(--soft-shadow);
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    border-color: transparent;
}

#topContainer
{
    background-color: var(--c3);
    border: 1px solid var(--c6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    box-shadow: var(--soft-shadow);
    z-index: 140;
}

#logo
{
    margin: 0px 0px 0px 10px;
}

#iconsContainer
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.icon
{
    height: 50px;
    width: 50px;
    background-color: var(--icon-bg);
    border: 0;
    background-size: 30px;
    background-position: center;
    border-radius: 100%;
    margin: 10px 10px;
    box-shadow: var(--soft-shadow);
    cursor: pointer;
    @include mixins.hover-effect;
}

.icon.end
{
    margin-top: auto;
}

.icon.right
{
    margin-left: auto;
}

#mainDisplay
{
    display: flex;
    height: 100%;
}

#sideIconContainer
{
    display: flex;
    flex-direction: column;
    background-color: var(--c3);
    border: 1px solid var(--c6);
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    height: calc(100vh - 70px);
    border-top: none;
}

#bottomIconContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c3);
    border: 1px solid var(--c6);
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: var(--soft-shadow);
}

#masterQuizContainer
{
    height: calc(100vh - 71px);
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;

    ::-webkit-scrollbar
    {
        width: 12px;
    }

    ::-webkit-scrollbar-track
    {
        background: var(--c5);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: var(--c3);
        border-radius: 10px;
        border: 3px solid var(--c5);
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: var(--c3);
        border-radius: 10px;
        height: 60px;
        border: 3px solid var(--c5);
    }
}

.subcontainer
{
    @include mixins.tile-style;
    text-align: left;
    cursor: auto;
    background-color: var(--c3);
    border-radius: 30px;
    padding-left: 20px;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
    max-height: 280px;

    @media (max-width: $media-mobile-2)
    {
        padding-left: 15px;
        padding-bottom: 30px;
        height: auto;
        max-height: none;
        width: 480px;
    }

    @media (max-width: $media-mobile)
    {
        padding-left: 15px;
        padding-bottom: 30px;
        height: auto;
        max-height: none;
        width: 240px;
    }
}

.subcontainer-quiz
{
    @include mixins.tile-style;
    padding: 20px;
    display: flex;
    width: 80%;
    font-size: 20px;
    position: relative;
    top: 30px;
    margin: 0 auto;
    cursor: auto;

    &>div
    {
        width: 100%;
        text-align: center;
        font-weight: bold;
        margin-bottom: 5px;

    }

    @media (max-width: $media-mobile)
    {
        padding: 10px;
        margin: 0 auto;
    }
}

.quizTile
{
    @include mixins.tile-style;
    width: 180px;
    height: 180px;
    @include mixins.hover-effect;
}

.answerTile
{
    @include mixins.tile-style;
    width: 500px;
    height: 120px;

    @media (max-width: $media-mobile)
    {
        padding-left: 15px;
        padding-bottom: 30px;
        height: 200px;
        width: 200px;
    }

    @include mixins.hover-effect;
}

.main-container
{
    background-color: red;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.quizTileContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 140px);
    padding: 10px;
    background-color: transparent;
    width: auto;

    @media (max-width: $media-mobile)
    {
        margin-top: -100px;
    }
}

.answerRow:first-child
{
    height: 30%;
    margin-top: 230px;
}

.answerRow
{

    display: flex;
    justify-content: center;
    gap: 20px;
}

.homeTitleContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

.answerButton
{
    background-color: #ffffff;
    box-shadow: var(--soft-shadow);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    @include mixins.hover-effect;
}

.answerText-0
{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}

*
{
    @if $debug
    {
        border: 1px solid red;
    }
}

.shake
{
    animation: shake 0.5s ease-out;
}